@backgroundColor: rgba(203, 47, 98, 0.97);
@backgroundImage: url("../img/2.jpg");
@backgroundColorBack: rgba(255, 245, 250, 0.99);

.backgroundColor {
  //background-color: @backgroundColor;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: @backgroundImage;
}

.main {
  height: 100%;

  .myrow {
    width: 100%;
    height: 16.6%;
    display: flex;
  }
}
.messageContent {
  background-color: #007aff;
  padding: 10% 20% 20% 10%;
}

.myload{
  font-size: 170%;
  text-align: center;
}

.asd{
  color:red;
}


.transition (@value1,@value2:X,...) { @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`; -webkit-transition: @value; -moz-transition: @value; -ms-transition: @value; -o-transition: @value; transition: @value; }
.transform (@value1,@value2:X,...) { @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`; transform:@value; -ms-transform:@value; -webkit-transform:@value; -o-transform:@value; -moz-transform:@value; }
.transform-style(@style:preserve-3d) { transform-style:@style; -webkit-transform-style:@style; -moz-transform-style:@style; -ms-transform-style:@style; }
.backface-visibility-hidden { backface-visibility:hidden; -webkit-backface-visibility:hidden; }
.perspective(@amount: 1000px) { perspective:@amount; -webkit-perspective:@amount; -moz-perspective:@amount; -ms-perspective:@amount; }

flipper {
  border: solid 1px;
  width: 25%;
  margin: 2px 2px 2px 2px;
  border-radius: 3px;
  .perspective;

  >div.flipper { float:left; width:100%; height:100%; position:relative; .transform-style(preserve-3d);

    .front, .back { float:left; display:block; width:100%; height:100%; .backface-visibility-hidden; position:absolute; top:0; left:0; .transform-style(preserve-3d); .transition(-webkit-transform ease 1000ms); .transition(transform ease 1000ms); }

    .front {
      font-size: 200%;
      padding-left: 35%;
      padding-top: 45%;
    }

    .back {
        background: @backgroundColorBack;
        height: 15.6vh;
      }

    }
  }


.myimg{
  width: 90%;
  margin: 10% 10% 10% 5%;
}

flipper[horizontal] {
  .front { .transform(rotateY(0deg)); }
  .back { .transform(rotateY(-180deg)); }

  div.flipper.flipped {
    .front { .transform(rotateY(180deg)); }
    .back { .transform(rotateY(0deg)); }
  }
}

flipper[vertical] {
  .front { .transform(rotateX(0deg)); }
  .back { .transform(rotateX(-180deg)); }

  div.flipper.flipped {
    .front { .transform(rotateX(180deg)); }
    .back { .transform(rotateX(0deg)); }
  }
}
