<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/flip/dist/jquery.flip.js"></script>

    <!-- Controllers -->
    <script src="js/IndexController.js"></script>
    <script src="js/MessageController.js"></script>

    <!-- Factory -->
    <script src="js/MessageFactory.js"></script>
    <script src="js/ModalService.js"></script>

</head>
<body ng-app="app">

<ion-pane>
    <!--
    <ion-header-bar class="bar-stable">
        <h1 class="title">X věcí pro které Tě miluju</h1>
    </ion-header-bar>
    -->
    <ion-content ng-controller="IndexController" class="backgroundColor">
        <div class="main">
            <!------------------------------------------------------------------------------>
            <div class="myrow">
                <div id="{{ window[0].id }}" ng-click="turn(window[0].id)" class="window">
                    <div class="front">
                        <div>{{ window[0].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div><img src="{{ window[0].img }}"></div>
                    </div>
                </div>
                <div id="{{ window[1].id }}" ng-click="turn(window[1].id)" class="window">
                    <div class="front">
                        <div>{{ window[1].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div><img src="{{ window[1].img }}"></div>
                    </div>
                </div>
                <div id="{{ windows[2].id }}" ng-click="turn(window[2].id)" class="window">
                    <div class="front">
                        <div>{{ window[2].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[2].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ window[3].id }}" ng-click="turn(window[3].id)" class="window">
                    <div class="front">
                        <div>{{ window[3].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[3].afterSide }}</div>
                    </div>
                </div>
            </div>
            <!------------------------------------------------------------------------------>
            <div class="myrow">
                <div id="{{ window[4].id }}" ng-click="turn(window[4].id)" class="window">
                    <div class="front">
                        <div>{{ window[4].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[4].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ window[5].id }}" ng-click="turn(window[5].id)" class="window">
                    <div class="front">
                        <div>{{ window[5].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[5].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ windows[6].id }}" ng-click="turn(window[6].id)" class="window">
                    <div class="front">
                        <div>{{ window[6].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[6].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ window[7].id }}" ng-click="turn(window[7].id)" class="window">
                    <div class="front">
                        <div>{{ window[7].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[7].afterSide }}</div>
                    </div>
                </div>
            </div>
            <!------------------------------------------------------------------------------>
            <div class="myrow">
                <div id="{{ window[8].id }}" ng-click="turn(window[8].id)" class="window">
                    <div class="front">
                        <div>{{ window[8].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[8].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ window[9].id }}" ng-click="turn(window[9].id)" class="window">
                    <div class="front">
                        <div>{{ window[9].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[9].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ windows[10].id }}" ng-click="turn(window[10].id)" class="window">
                    <div class="front">
                        <div>{{ window[10].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[10].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ window[11].id }}" ng-click="turn(window[11].id)" class="window">
                    <div class="front">
                        <div>{{ window[11].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[11].afterSide }}</div>
                    </div>
                </div>
            </div>
            <!------------------------------------------------------------------------------>
            <div class="myrow">
                <div id="{{ window[12].id }}" ng-click="turn(window[12].id)" class="window">
                    <div class="front">
                        <div>{{ window[12].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[12].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ window[13].id }}" ng-click="turn(window[13].id)" class="window">
                    <div class="front">
                        <div>{{ window[13].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[13].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ windows[14].id }}" ng-click="turn(window[14].id)" class="window">
                    <div class="front">
                        <div>{{ window[14].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[14].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ window[15].id }}" ng-click="turn(window[15].id)" class="window">
                    <div class="front">
                        <div>{{ window[15].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[15].afterSide }}</div>
                    </div>
                </div>
            </div>
            <!------------------------------------------------------------------------------>
            <div class="myrow">
                <div id="{{ window[16].id }}" ng-click="turn(window[16].id)" class="window">
                    <div class="front">
                        <div>{{ window[16].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[16].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ window[17].id }}" ng-click="turn(window[17].id)" class="window">
                    <div class="front">
                        <div>{{ window[17].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[17].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ windows[18].id }}" ng-click="turn(window[18].id)" class="window">
                    <div class="front">
                        <div>{{ window[18].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[18].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ window[19].id }}" ng-click="turn(window[19].id)" class="window">
                    <div class="front">
                        <div>{{ window[19].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[19].afterSide }}</div>
                    </div>
                </div>
            </div>
            <!------------------------------------------------------------------------------>
            <div class="myrow">
                <div id="{{ window[20].id }}" ng-click="turn(window[20].id)" class="window">
                    <div class="front">
                        <div>{{ window[20].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[20].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ window[21].id }}" ng-click="turn(window[21].id)" class="window">
                    <div class="front">
                        <div>{{ window[21].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[21].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ windows[22].id }}" ng-click="turn(window[22].id)" class="window">
                    <div class="front">
                        <div>{{ window[22].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[22].afterSide }}</div>
                    </div>
                </div>
                <div id="{{ window[23].id }}" ng-click="turn(window[23].id)" class="window">
                    <div class="front">
                        <div>{{ window[23].beforeSide }}</div>
                    </div>
                    <div class="back">
                        <div>{{ window[23].afterSide }}</div>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-pane>
</body>
</html>
