<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- ng-cordova -->
    <script src="js/external/ng-cordova.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/IndexController.js"></script>
    <script src="js/MessageController.js"></script>

    <!-- Factory -->
    <script src="js/MessageFactory.js"></script>
    <script src="js/ErrorFactory.js"></script>
    <script src="js/ModalService.js"></script>

</head>
<body ng-app="app">

<ion-pane>
    <!--
    <ion-header-bar class="bar-stable">
        <h1 class="title">X věcí pro které Tě miluju</h1>
    </ion-header-bar>
    -->
    <ion-content ng-controller="IndexController" class="backgroundColor">
        <div class="main">
            <!------------------------------------------------------------------------------>
            <div class="myrow">
                <flipper ng-click="flip(window[0].id)" flipped="window[0].status" horizontal>
                    <front>
                        {{ window[0].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[0].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[1].id)" flipped="window[1].status" horizontal>
                    <front>
                        {{ window[1].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[1].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[2].id)" flipped="window[2].status" horizontal>
                    <front>
                        {{ window[2].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[2].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[3].id)" flipped="window[3].status" horizontal>
                    <front>
                        {{ window[3].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[3].img }}">
                    </back>
                </flipper>
            </div>
            <!------------------------------------------------------------------------------>
            <div class="myrow">
                <flipper ng-click="flip(window[4].id)" flipped="window[4].status" horizontal>
                    <front>
                        {{ window[4].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[4].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[5].id)" flipped="window[5].status" horizontal>
                    <front>
                        {{ window[5].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[5].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[6].id)" flipped="window[6].status" horizontal>
                    <front>
                        {{ window[6].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[6].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[7].id)" flipped="window[7].status" horizontal>
                    <front>
                        {{ window[7].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[7].img }}">
                    </back>
                </flipper>
            </div>
            <!------------------------------------------------------------------------------>
            <div class="myrow">
                <flipper ng-click="flip(window[8].id)" flipped="window[8].status" horizontal>
                    <front>
                        {{ window[8].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[8].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[9].id)" flipped="window[9].status" horizontal>
                    <front>
                        {{ window[9].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[9].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[10].id)" flipped="window[10].status" horizontal>
                    <front>
                        {{ window[10].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[10].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[11].id)" flipped="window[11].status" horizontal>
                    <front>
                        {{ window[11].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[11].img }}">
                    </back>
                </flipper>
            </div>
            <!------------------------------------------------------------------------------>
            <div class="myrow">
                <flipper ng-click="flip(window[12].id)" flipped="window[12].status" horizontal>
                    <front>
                        {{ window[12].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[12].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[13].id)" flipped="window[13].status" horizontal>
                    <front>
                        {{ window[13].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[13].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[14].id)" flipped="window[14].status" horizontal>
                    <front>
                        {{ window[14].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[14].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[15].id)" flipped="window[15].status" horizontal>
                    <front>
                        {{ window[15].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[15].img }}">
                    </back>
                </flipper>
            </div>
            <!------------------------------------------------------------------------------>
            <div class="myrow">
                <flipper ng-click="flip(window[16].id)" flipped="window[16].status" horizontal>
                    <front>
                        {{ window[16].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[16].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[17].id)" flipped="window[17].status" horizontal>
                    <front>
                        {{ window[17].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[17].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[18].id)" flipped="window[18].status" horizontal>
                    <front>
                        {{ window[18].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[18].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[19].id)" flipped="window[19].status" horizontal>
                    <front>
                        {{ window[19].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[19].img }}">
                    </back>
                </flipper>
            </div>
            <!------------------------------------------------------------------------------>
            <div class="myrow">
                <flipper ng-click="flip(window[20].id)" flipped="window[20].status" horizontal>
                    <front>
                        {{ window[20].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[20].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[21].id)" flipped="window[21].status" horizontal>
                    <front>
                        {{ window[21].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[21].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[22].id)" flipped="window[22].status" horizontal>
                    <front>
                        {{ window[22].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[22].img }}">
                    </back>
                </flipper>

                <flipper ng-click="flip(window[23].id)" flipped="window[23].status" horizontal>
                    <front>
                        {{ window[23].beforeSide }}
                    </front>
                    <back>
                        <img class="myimg" ng-src="{{ window[23].img }}">
                    </back>
                </flipper>
            </div>

        </div>
    </ion-content>
</ion-pane>
</body>
</html>
